* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Anybody', sans-serif;
  color: #dfdfd8;
}

.container {
  width: min(90%, 1120px);
  margin-inline: auto;
}
img {
  width: 100%;
  max-height: 100%;
}
header {
  background-color: #fafaf6;
  height: 4.5rem;
  position: sticky;
  width: 100%;
  top: 0;
}

.desktop-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 10px;
}
.desktop-menu h1 {
  color: #2b2b2b;
}
.menus-link {
  display: flex;
  gap: 20px;
}

.menus-link li {
  list-style: none;
}

.menus-link li a {
  text-decoration: none;
  font-size: 1.25rem;
  color: #2b2b2b;
}

.menus-link li a:hover {
  color: #5f6ad4;
}

.menus-link h1 {
  font-size: 1.5625rem;
  font-weight: 700;
}

.hamburger {
  display: none;
}

.mobile-menu {
  display: none;
}

.mobile-menu-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
}

.btn-primary,
.btn-secondary {
  background-color: #5f6ad4;
  margin: 5px;
  text-decoration: none;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 20px;
}
.btn-secondary {
  background-color: transparent;
  border: 1px solid white;
}

.hero {
  height: calc(100vh - 4.5rem);

  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('https://plus.unsplash.com/premium_photo-1675326252140-d6379b1a954e?q=80&w=1269&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')
      bottom/ cover no-repeat;
  display: flex;
}

.hero .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.hero .container h1 {
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 400;
  color: white;
  text-align: center;
}

.btn {
  padding: 0.9375rem 3.75rem;
  font-size: 1.25rem;
  background-color: #06ff87;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 1000sm ease-in-out;
}

.btn:hover {
  background-color: #cecec1;
  color: #2b2b2b;
}

.yoga {
  background: url('https://plus.unsplash.com/premium_photo-1667249323567-6ac4eb217a4f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE3fHx8ZW58MHx8fHx8')
    center/ cover no-repeat;
  height: 90vh;
  border-radius: 26px;
  margin-top: 6rem;
  display: flex;
  align-items: flex-end;

  /* background-color: rgb(242, 242, 242);
  background-blend-mode: difference; */
}

.yoga .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 44.875rem;
  margin-inline: auto;
  color: white;
  margin-bottom: 7rem;
  gap: 1.25rem;
}

.yoga .contact h1 {
  font-size: 3.125rem;
  font-weight: 700;
  text-align: center;
}

.yoga .contact p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.info-boxs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;

  margin-block: 6rem;
}

.info-boxs .box {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
}

.info-boxs .box img {
  border-radius: 15px;
}
.info-boxs .box h1 {
  font-size: 1.5625rem;
  color: #2b2b2b;
}

.info-boxs .box p {
  font-size: 1.25rem;
  color: #646464;
}

.perfact-condition {
  background: url('https://mobirise.com/extensions/retreatm5/outdoor-yoga-classes/assets/images/pexels-andrea-piacquadio-3779750.jpeg')
    center/ cover no-repeat;
  height: 438px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 2rem;
  background-attachment: fixed;
}
.perfact-condition h2 {
  color: #2b2b2b;
  font-weight: 400;
  font-size: 3.25rem;
  margin-bottom: 2rem;
}

.perfact-condition p {
  color: #2b2b2b;
  font-weight: 400;
  font-size: 1.25rem;
}

.perfact-classes {
  background: url('https://mobirise.com/extensions/retreatm5/outdoor-yoga-classes/assets/images/pexels-lucas-pezeta-2985098.jpg')
    center/ cover no-repeat;
  height: 438px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 2rem;
  margin: 5rem 0;
}
.perfact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 50%;
  border: 3px solid #5f6ad4;
  background-color: #dfdfd8;
  color: #2b2b2b;
  border-radius: 10px;
}

footer {
  background-color: #2b2b2b;
  color: white;
  padding: 20px;
}
/* tablate and mobile screns */
@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }

  header {
    height: 0;
  }

  .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3%;
    left: 46%;
    color: white;
    background-color: #5f6ad4;
    height: 50px;
    width: 50px;
    border-radius: 10%;
    font-size: 2rem;
    cursor: pointer;
  }

  .mobile-menu {
    display: block;
    background-color: #2b2b2b;
    position: fixed;
    inset: 0 0 0 0;
    color: white;
    align-items: center;
    transform: translateY(0%);
    transition: transform 600ms ease-in-out;
  }
  .mobile-menu[data-visible='false'] {
    transform: translateY(100%);
  }

  .hamburger i[data-visible='true'] {
    display: block;
  }
  .hamburger i[data-visible='false'] {
    display: none;
  }
  .mobile-menu .navigation {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
    gap: 2rem;
  }

  .mobile-menu .navigation .menus-link {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mobile-menu h1 {
    font-size: 2.3125rem;
    border-bottom: solid 1px white;
  }
  .mobile-menu .navigation .menus-link a {
    color: white !important;
  }
  i {
    z-index: 35;
  }

  .hero {
    height: 100vh;
  }

  .hero .container h1 {
    font-size: 3rem;
  }

  .yoga .contact {
    margin-bottom: 2rem;
    padding: 1rem;
  }
  .yoga .contact h1 {
    font-size: 2.125rem;
  }
  .yoga .contact p {
    font-size: 1.3125rem;
  }

  .info-boxs {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .perfact-condition h2 {
    font-size: 2rem;
    text-align: center;
  }
  .perfact-condition p {
    font-size: 1.125rem;
    text-align: center;
  }

  .perfact {
    display: flex;
    flex-direction: column;
  }

  .perfact h2 {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1.25rem;
  }
  .perfact .btn {
    padding: 0.625rem 1.875rem;
  }
}
